:root {
    --main-text-color: #262F34;
    --main-bg-color: #efedea;
    --white-color: #fefefe;
    --red-color: #FA4032;
    --orange-color: orange;
    --gray-color: gray;
    --green-color: #196b49;

    --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.12);

    --transition: .2s all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    background: var(--main-bg-color);
}

body {
    padding: 50px 30px;
    font-family: "Zalando Sans", sans-serif;
    text-align: center;
    color: var(--main-text-color);
    background: url("img/office_bg.jpg") center / cover no-repeat;
    transition: var(--transition);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 0;
}

.dark {
    --main-text-color: #efedea;
    --main-bg-color: #002639;

    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55), 0 0 6px rgba(100, 120, 255, 0.15);
}

.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.container svg {
    width: 20px;
}

#icons {
    padding: 5px;
    position: absolute;
    max-width: 400px;
    top: 22px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: var(--white-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

#sun {
    display: none;
    fill: var(--main-bg-color);
}

#moon {
    display: block;
    fill: var(--main-text-color);
}

h1 {
    font-size: 32px;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

h1 span:first-child {
    color: var(--orange-color);
}

h1 span:last-child {
    color: var(--red-color);
}

p {
    font-size: 20px;
    text-align: center;
}

#todo-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: var(--box-shadow);
}

#todo-input {
    width: 50%;
}

#todo-input:focus {
    box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.18),
    0 0 8px rgba(255, 190, 120, 0.35);
}

button {
    max-width: 100px;
    width: 80px;
    border: 0;
    background: var(--green-color);
    color: var(--main-bg-color);
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 15px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition);
}

.dark button, .dark #clear-button {
    color: var(--white-color);
}

button:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 190, 120, 0.4);
}

#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

.checkmark-container {
    display: flex;
    align-items: center;
}

.checkmark-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#filter input {
    display: none;
}

#filter .checkmark {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

#filter input:checked ~ .checkmark {
    background-color: var(--green-color);
}

#todo-list {
    padding: 20px 0;
    list-style-type: none;
    border-radius: 5px;
    text-align: left;
    overflow-y: auto;
    margin-bottom: 10px;
}

li {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid var(--red-color);
    font-size: 16px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

li span {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

li span:first-child {
    color: rgb(102, 104, 99);
    font-size: 14px;
    background: var(--white-color);
    padding: 1px 3px;
    border-radius: 5px;
    text-align: center;
}

li span:nth-of-type(2) {
    padding-left: 10px;
}

.input-update {
    height: 100%;
}

.delete-button, .update-button, #clear-button {
    color: var(--main-bg-color);
    justify-self: end;
}

.delete-button {
    background-color: var(--red-color);
}

.update-button {
    background-color: var(--orange-color);
}

#clear-button {
    background-color: var(--red-color);
    padding: 8px;
}

#task-list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#amount {
    font-size: 16px;
}

.done {
    text-decoration: line-through var(--red-color) solid;
    color: var(--gray-color);
}

.hidden {
    display: none;
}

